.landingPage {
  background-color: #2C7E80;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  padding: 30px 100px 30px 100px;
}

.footer {
  padding: 100px 30px 100px 30px;
  background-color: #2C7E80;
  margin: 0px;
}

.background {
  padding: 30px 100px 30px 100px;
  background-color: rgba(116, 140, 180, 0.6);
}

.landingText {
  color: #2C7E80;
}

.cardSpace {
 padding-top: 10px;
}

.cardImage{
  display:flex;
}

.cardSize{
  width: 300px;
  height: 400px;
}

.aboutPage {
  margin: 20px;
}

.descriptionText {
  color: white;
}

.questionnaire1 {
  padding-top: 200px;
}

.questionnaireMiddlePage {
  background: url('public/images/questionnaireBackground.jpeg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding-top: 200px;
}

.questionnaireButtons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.questionnaire {
  align-items: center;
  justify-content: center;
}

.questionnaireForm {
  padding-top: 10px;
}